@using SharedModels.Responses.Notes
@inject ApiService _apiService

<div class="content-bar">
    @if (ActiveNote != null)
    {
        if (ActiveNote.IsDeleted)
        {
            <div class="content-bar-item" @onclick="() => RestoreNoteCallback.InvokeAsync()">Restore</div>
            <div class="content-bar-item" @onclick="() => EmptyTrashCallback.InvokeAsync(false)">Empty trash</div>
        }
        else
        {
            <div class="content-bar-item">Save</div>
            <div class="content-bar-item" @onclick="() => DeleteNoteCallback.InvokeAsync()">Delete</div> 
        }
    }
    else
    {
        <div class="container-bar-item">&nbsp;</div>
    }
</div>

@code {
    [CascadingParameter]
    public NoteResponse ActiveNote { get; set; }

    [Parameter]
    public EventCallback DeleteNoteCallback { get; set; }

    [Parameter]
    public EventCallback RestoreNoteCallback { get; set; }

    [Parameter]
    public EventCallback<bool> EmptyTrashCallback { get; set; }
}