@using SharedModels.Responses.Notes

<div class="editor-test">
    @if (ActiveNote != null)
    {
        <p>Title: @ActiveNote.Title</p>
        <p>Content: @ActiveNote.Content</p>
    }
</div>

@code {
    [CascadingParameter]
    public NoteResponse ActiveNote { get; set; }
}
