<div class="sidebar-nav-item @(isActive ? "active" : "")" @onclick="OnClickHandler">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    public Sidebar ParentSidebar { get; set; }

    [Parameter]
    public EventCallback<NavItemType> OnClickCallback { get; set; }

    [Parameter]
    public bool IsDefaultActive { get; set; }

    [Parameter]
    public NavItemType Type { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool isActive = false;

    protected override void OnInitialized()
    {
        ParentSidebar.AddNavItem(this);
        if (IsDefaultActive)
            isActive = true;
    }

    public void Activate()
    {
        isActive = true;
    }

    public void Deactivate()
    {
        isActive = false;
    }

    private async Task OnClickHandler()
    {
        if(!isActive)
            await OnClickCallback.InvokeAsync(Type);
    }
}
