<div class="sidebar-nav-item @(isActive ? "active" : "")" @onclick="OnClickHandler">
    @ChildContent
</div>

@code {
    [CascadingParameter]
    public string CurrentActiveNavItem { get; set; }

    [Parameter]
    public EventCallback<string> OnClickCallback { get; set; }

    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    private bool isActive = false;

    protected override void OnParametersSet()
    {
        isActive = CurrentActiveNavItem == Name;
    }

    private async Task OnClickHandler()
    {
        if(!isActive)
            await OnClickCallback.InvokeAsync(Name);
    }
}
