@inherits LayoutComponentBase

<PopupMessage />
<RedirectAuthorized />

<div class="container screen-center text-center">
    <br />
    <img class="logo" src="/Images/logo.png" />
    <h2>MyNotes</h2>
    <br />
    @Body
</div>