@page "/confirm-email"
@layout NotAuthorizedLayout
@using Microsoft.AspNetCore.WebUtilities
@using SharedModels.Requests.Auth
@inject PopupMessageService _popupMessageService
@inject NavigationManager _navigationManager
@inject ApiService _apiService

@if(isConfirmationSuccessful.HasValue && isConfirmationSuccessful.Value == true)
{
    <h3>Email confirmation was successful. <a class="link" href="login">Login</a></h3>
}

@if(isConfirmationSuccessful.HasValue && isConfirmationSuccessful.Value == false)
{
    <h3>Something went wrong while trying to confirm your email.</h3>
    <h3>You can <a class="link" @onclick="ResendEmail">resend</a> confirmation email and try again.</h3>
}

@code {
    private bool? isConfirmationSuccessful = null;
    private ConfirmEmailRequest confirmEmailRequest = new();

    protected override async Task OnInitializedAsync()
    {
        MapQueryStringValuesToRequest();
        await PostRequest();
    }

    private void MapQueryStringValuesToRequest()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        var queryString = uri.Query.Replace("+", "*PLUS*");
        if (QueryHelpers.ParseQuery(queryString).TryGetValue("email", out var email))
        {
            confirmEmailRequest.Email = email.ToString().Replace("*PLUS*", "+");
        }

        if (QueryHelpers.ParseQuery(queryString).TryGetValue("token", out var token))
        {
            confirmEmailRequest.Token = token.ToString().Replace("*PLUS*", "+");
        }
    }

    private async Task PostRequest()
    {
        try
        {
            await _apiService.Post<ConfirmEmailRequest>("auth/confirm-email", confirmEmailRequest);
            isConfirmationSuccessful = true;
        }
        catch
        {
            isConfirmationSuccessful = false;
        }
    }

    private async Task ResendEmail()
    {
        try
        {
            await _apiService.Post<ResendConfirmationEmailRequest>("auth/resend-confirmation-email", new ResendConfirmationEmailRequest() { Email = confirmEmailRequest.Email ?? string.Empty });
            _popupMessageService.ShowPopup("Confirmation email has been sent", PopupMessageType.Success);
        }
        catch (ApplicationException ex)
        {
            _popupMessageService.ShowPopup(ex.Message, PopupMessageType.Error);
        }
    }
}
