@page "/"
@using SharedModels.Responses.Notes
@using WebApp.Components.Dropdown
@using WebApp.Components.Sidebar
@attribute [Authorize]

<CascadingAppState>
    <div class="main-row">
        <div class="sidebar-col">
            <Sidebar />
        </div>
        <div class="content-col">
            <div class="content-container">
                <ContentBar />
                <div class="editor-test">YXC</div>
            </div>
        </div>
    </div>
</CascadingAppState>