@page "/"
@using SharedModels.Responses.Notes
@using WebApp.Components.Dropdown
@using WebApp.Components.Sidebar
@attribute [Authorize]

<div class="main-row">
    <div class="sidebar-col">
        <Sidebar DefaultActiveNavItem="notesNavItem" />
    </div>
    <div class="content-col">
        <div class="main-content">
            <RichTextEditor />
        </div>
    </div>
</div>