@page "/"
@using SharedModels.Responses.Notes
@using WebApp.Components.Dropdown
@attribute [Authorize]
@inject PopupMessageService _popupMessageService
@inject ILocalStorageService _localStorage
@inject RefreshTokenService _refreshTokenService
@inject ApiService _apiService

<div class="sidebar"> 
    <div class="sidebar-header">
        <Dropdown>
            <DropdownToggleText Id="dropdownToggleText">thudjek@gmail.com <i class="bi bi-caret-down font-14"></i></DropdownToggleText>
            <DropdownMenu>
                <DropdownItem Href="logout">Logout</DropdownItem>
            </DropdownMenu>
        </Dropdown>
    </div>
    <div class="sidebar-item">
        <SearchBar SearchChangedCallback="GetNotes" />
    </div>
</div>
<div class="d-inline-block">
    @if (notes != null && notes.Count > 0)
    {
        <ul>
            @foreach(var note in notes)
            {
                <li>Title: @note.Title, Content: @note.Content</li>
            }
        </ul>    
    }
</div>

@code {
    private List<NoteResponse> notes = null;

    protected override async Task OnInitializedAsync()
    {
        await GetNotes();
    }

    private async Task GetNotes(string filter = "")
    {
        try
        {
            var queryString = !string.IsNullOrWhiteSpace(filter) ? "?filter=" + filter : "";
            notes = await _apiService.Get<List<NoteResponse>>("notes", queryString); 
        }
        catch (ApplicationException ex)
        {
            _popupMessageService.ShowPopup(ex.Message, PopupMessageType.Error);
        }
    }
}