@page "/reset-password"
@layout NotAuthorizedLayout
@using Microsoft.AspNetCore.WebUtilities
@using SharedModels.Requests.Auth
@inject IHttpClientFactory _httpClientFactory
@inject NavigationManager _navigationManager
@inject PopupMessageService _popupMessageService

@if (!isConfirmationSuccessful)
{
    <EditForm Model="@resetPasswordRequest" OnSubmit="SubmitResetPassword">
        <CustomValidator @ref="customValidator" />
        <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-5 offset-lg-3point5 col-xl-4 offset-xl-4 mb-3 text-start">
                <InputText class="form-control input" placeholder="Password" type="password" @bind-Value=resetPasswordRequest.Password />
                <ValidationMessage For="() => resetPasswordRequest.Password" />
            </div>
        </div>
        <div class="row">
                <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-5 offset-lg-3point5 col-xl-4 offset-xl-4 mb-3 text-start">
                <InputText class="form-control input" placeholder="ConfirmPassword" type="password" @bind-Value=resetPasswordRequest.ConfirmPassword />
                <ValidationMessage For="() => resetPasswordRequest.ConfirmPassword" />
            </div>
        </div>
        <div class="row">
            <div class="col-8 offset-2 col-md-6 offset-md-3 col-lg-5 offset-lg-3point5 col-xl-4 offset-xl-4 mb-3">
                <button class="btn btn-primary w-100" type="submit">Reset Password

                </button>
            </div>
        </div>
    </EditForm>
}
else
{
    <h3>Password reset was successful. <a class="link" href="login">Login</a></h3>
}

@code {
    private bool isConfirmationSuccessful = false;
    private HttpClient httpClient = null;
    ResetPasswordRequest resetPasswordRequest = new();
    CustomValidator customValidator;

    protected override void OnInitialized()
    {
        httpClient = _httpClientFactory.CreateClient(Constants.HttpClientName);
        MapQueryStringValuesToRequest();
    }

    private void MapQueryStringValuesToRequest()
    {
        var uri = _navigationManager.ToAbsoluteUri(_navigationManager.Uri);
        var queryString = uri.Query.Replace("+", "*PLUS*");
        if (QueryHelpers.ParseQuery(queryString).TryGetValue("email", out var email))
        {
            resetPasswordRequest.Email = email.ToString().Replace("*PLUS*", "+");
        }

        if (QueryHelpers.ParseQuery(queryString).TryGetValue("token", out var token))
        {
            resetPasswordRequest.Token = token.ToString().Replace("*PLUS*", "+");
        }
    }

    private async Task SubmitResetPassword()
    {
        var httpResponse = await httpClient.PostAsJsonAsync("auth/reset-password", resetPasswordRequest);
        if (httpResponse.IsSuccessStatusCode)
        {
            isConfirmationSuccessful = true;
        }
        else
        {
            var errorModel = await httpResponse.Content.ReadFromJsonAsync<ErrorModel>();
            if (errorModel.Errors != null)
            {
                customValidator.ClearErrors();
                customValidator.DisplayErrors(errorModel.ErrorsGrouped);
            }
            else
            {
                _popupMessageService.ShowPopup(errorModel.Error, PopupMessageType.Error);
            }
        }
    }
}
